<div class="card">
  <div class="card-content">
    <span class="card-title">Add Items</span>
    <form (ngSubmit) = "onSubmit()">
      <div class="row">
        <div class="input-field col s6">
          <input type="text"
                 [(ngModel)]="item.title"
                 name="title">
          <label>Title</label>
        </div>
        <div class="input-field col s6">
          <input type="text"
                 [(ngModel)]="item.description"
                 name="description">
          <label>description</label>
        </div>
        <input type="submit" value="Submit" class="btn btn-block">
      </div>
    </form>

  </div>
</div>
