.NoteSection_container{
  columns: 3 250px;
  column-gap: 1em;
  padding:1em;
  margin-left: 150px
}
.NoteSection_container_empty{
  display:flex;
  align-items:center;
  justify-content: center;
  color:red;
}
